<!DOCTYPE html>
<html>
  <head>
    <title>Ds2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <%= link_to 'Customers', customers_path %> •
    <%= link_to 'Orders', orders_path %> •
    <%= link_to 'Products', products_path %> •
    <%= link_to 'Categories', categories_path %> •
    <%= link_to 'Reports', reports_path %>
  </div>
    <%= yield %>
  </body>
</html>
